In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range('20180607',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])

In [2]:
df

             A   B   C   D
2018-06-07   0   1   2   3
2018-06-08   4   5   6   7
2018-06-09   8   9  10  11
2018-06-10  12  13  14  15
2018-06-11  16  17  18  19
2018-06-12  20  21  22  23

In [12]:
df.iloc[2,2]=1111
df.loc['20180608','C']=2222
df.B[df.A>8]=3333
df['F']=np.nan
df['E']=pd.Series([1,2,3,4,5,6],index=pd.date_range('20180607',periods=6))
df['G']=[1,2,3,4,5,6]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
df

             A     B     C   D   F  E  G
2018-06-07   0     1     2   3 NaN  1  1
2018-06-08   4     5  2222   7 NaN  2  2
2018-06-09   8     9  1111  11 NaN  3  3
2018-06-10  12  3333    14  15 NaN  4  4
2018-06-11  16  3333    18  19 NaN  5  5
2018-06-12  20  3333    22  23 NaN  6  6